* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #FFF;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: Menlo;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 13.5px;
  font-weight: 400;
  margin: 2px 0 12px;
}

.main-container {
  width: 90%;
  margin: auto;
}

.likes,
.date {
  display: inline-block;
  color: darkgrey;
  font-size: 12px;
  margin-left: 7px;
}

.date {
  float: right;
}

.form-container,
.messages-container {
  margin-top: 30px;
  padding: 12px 17px;
  border: solid black 1px;
  box-shadow: 13px 13px 0px -5px #000000;
}

.form-container {
  height: 180px;
  margin-bottom: 20px;
  background-color: #F2F0F0;
}

.form-text-area {
  width: 100%;
  resize: none;
  height: 55px;
  border: solid darkgray 1px;
  font-family: Menlo;
}

.character-counter {
  margin: 0;
  font-size: 14px;
}

.red {
  color: #FF0000;
}

.black {
  color: #000;
}

.messages-container {
  height: 150px;
}

.message-text-area {
  height: 50px;
  overflow: auto;
  overflow-wrap: break-word;
  font-size: 15px;
}

.form-button,
.like-button {
  border: none;
  cursor: pointer;
}

.form-button {
  display: block;
  background-color: #F2ACAD;
  margin-top: 10px;
  padding: 10px 20px 12px;
  border-radius: 25px;
}

.button-text {
  font-family: Menlo;
}

.like-button {
  border-radius: 50%;
  padding: 8px 11px 9px 12px;
}

.grey {
  background-color: #F2F0F0;
}

.pink {
  background-color: #F2ACAD;
}

@media (min-width: 767px) {
  .main-container {
    width: 340px;
    margin: auto;
  }
}
